things-mashup/.flows.json.backup
[
    {
        "id": "974c367b8d71d880",
        "type": "tab",
        "label": "DontWasteEnergy",
        "disabled": false,
        "info": " - When no one is in the room, the light should be off.\n - The light should be off even in the case that the current light level is above a threshold LT1 ",
        "env": []
    },
    {
        "id": "805f51cf036ad5bd",
        "type": "tab",
        "label": "ProperLightLevel",
        "disabled": false,
        "info": "If there is someone in the room, then the light level should be kept not below  some level LT2, by properly controlling the light. \n",
        "env": []
    },
    {
        "id": "71513d26861b0ae7",
        "type": "tab",
        "label": "ListenUser",
        "disabled": false,
        "info": " * A user can request to switch on or off the light by issuing a proper vocal command\n * User's requests override policies (1) and (2), that is:\n    -  if the user requested to switch off the light, the light should be kept off or on, the light should be kept off or on in spite of (1)(2).\n    - The user can request to reset overriding by issuing a \"reset\" vocal command.\n",
        "env": []
    },
    {
        "id": "0a01ba463ee2878f",
        "type": "tab",
        "label": "Debug",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4538886161bf3ff1",
        "type": "consumed-thing",
        "tdLink": "http://172.20.10.4:8084/light-thing/",
        "td": "{\"title\":\"light-thing\",\"description\":\"a smart light thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"isOn\":{\"type\":\"boolean\",\"description\":\"Return if the light is on\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOn\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOn/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"isOff\":{\"type\":\"boolean\",\"description\":\"Return if the light is off\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOff\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOff/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"intensity\":{\"type\":\"integer\",\"description\":\"Return the current intensity of the light\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/intensity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/intensity/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"status\":{\"type\":\"object\",\"description\":\"Return the complete status of the light\",\"observable\":true,\"readOnly\":true,\"properties\":{\"state\":{\"type\":\"string\",\"enum\":[\"on\",\"off\"],\"description\":\"The state of the lamp, if is on or off.\"},\"intensity\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100,\"description\":\"The current level (in percentage) of light intensity produced by the lamp.\"}},\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/status\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/status/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"actions\":{\"increase\":{\"description\":\"Increase light intensity\",\"uriVariables\":{\"step\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/increase{?step}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"decrease\":{\"description\":\"Decrease light intensity\",\"uriVariables\":{\"step\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/decrease{?step}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switchOn\":{\"description\":\"Switch on the light\",\"descriptions\":{\"it\":\"Accende la luce\"},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/switchOn\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switchOff\":{\"description\":\"Switch off the light\",\"descriptions\":{\"it\":\"Spegne la luce\"},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/switchOff\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switch\":{\"description\":\"Switch the light with the opposite status\",\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/switch\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"changeState\":{\"description\":\"State on/off change\",\"data\":{\"type\":\"string\",\"enum\":[\"on\",\"off\"]},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/events/changeState\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"changeIntensity\":{\"description\":\"Intensity change\",\"data\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/events/changeIntensity\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:ed356130-d1e5-473e-ab8a-a1d1a761222b\",\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "c3cf010e000a53d8",
        "type": "consumed-thing",
        "tdLink": "http://172.20.10.4:8084/light-sensor-thing",
        "td": "{\"title\":\"light-sensor-thing\",\"description\":\"a smart light sensor thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"lightLevel\":{\"type\":\"integer\",\"description\":\"Return the current light level of the room\",\"observable\":true,\"minimum\":0,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-sensor-thing/properties/lightLevel\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://172.20.10.4:8084/light-sensor-thing/properties/lightLevel/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:cea85289-5481-4328-b0e4-7db4966d1782\",\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-sensor-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "031992dc8a25c061",
        "type": "consumed-thing",
        "tdLink": "http://172.20.10.4:8084/vocal-ui-thing",
        "td": "{\"title\":\"vocal-ui-thing\",\"description\":\"a smart presence detector thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"command\":{\"type\":\"string\",\"description\":\"The last command triggered by the user\",\"observable\":true,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/vocal-ui-thing/properties/command\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://172.20.10.4:8084/vocal-ui-thing/properties/command/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"events\":{\"newCommand\":{\"description\":\"The sensor detect a new command\",\"data\":{\"type\":\"object\",\"properties\":{\"message\":{\"type\":\"string\"},\"command\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/vocal-ui-thing/events/newCommand\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:68ea06b0-0b2b-4cec-ae03-83953f610c17\",\"forms\":[{\"href\":\"http://172.20.10.4:8084/vocal-ui-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "e02cb0d4509c583a",
        "type": "consumed-thing",
        "tdLink": "http://172.20.10.4:8084/presence-detector-thing",
        "td": "{\"title\":\"presence-detector-thing\",\"description\":\"a smart presence detector thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"presence\":{\"type\":\"boolean\",\"description\":\"Return if someone is in the room\",\"observable\":true,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presence\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presence/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"presenceTimer\":{\"type\":\"integer\",\"description\":\"the seconds after which, if no presence is detected, it is assumed that there is no one in the room\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presenceTimer\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presenceTimer/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"actions\":{\"setPresenceTimer\":{\"description\":\"Set the presence timer seconds\",\"uriVariables\":{\"seconds\":{\"type\":\"integer\",\"minimum\":30,\"maximum\":3600}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/actions/setPresenceTimer{?seconds}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"detectPresence\":{\"description\":\"The sensor detect a presence inside the room\",\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/events/detectPresence\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"nonDetectPresence\":{\"description\":\"The sensor doesn't detect a presence inside the room\",\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/events/nonDetectPresence\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:c59e4cc5-7e68-4d83-9b73-81726741e04c\",\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "0ad542d8d4982248",
        "type": "subscribe-event",
        "z": "974c367b8d71d880",
        "name": "presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "detectPresence",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1ed485c447d36717"
            ]
        ]
    },
    {
        "id": "253204eb8df6bdee",
        "type": "invoke-action",
        "z": "974c367b8d71d880",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOn",
        "uriVariables": "",
        "x": 710,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8416da021b03038d",
        "type": "subscribe-event",
        "z": "974c367b8d71d880",
        "name": "non presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "nonDetectPresence",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "eb3863585669633a"
            ]
        ]
    },
    {
        "id": "eb3863585669633a",
        "type": "invoke-action",
        "z": "974c367b8d71d880",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOff",
        "uriVariables": "",
        "x": 710,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2aa70a54f0100db8",
        "type": "read-property",
        "z": "974c367b8d71d880",
        "name": "",
        "topic": "lightLevel",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "7d25c194a804c26a",
                "76fae17c1e9a66bf"
            ]
        ]
    },
    {
        "id": "7d25c194a804c26a",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "Set light level",
        "func": "global.set(\"currentLight\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1ed485c447d36717",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "only low light",
        "func": "light = global.get(\"currentLight\")\nif(light <= global.get(\"filterLowLight\"))\nreturn msg;\nelse return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 60,
        "wires": [
            [
                "253204eb8df6bdee"
            ]
        ]
    },
    {
        "id": "76fae17c1e9a66bf",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "only high light",
        "func": "light = global.get(\"currentLight\")\nlampIsOn = global.get(\"lampOn\");\n\nif(light >= global.get(\"filterHighLight\") && lampIsOn)\nreturn msg;\nelse return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "975736728441d4af"
            ]
        ]
    },
    {
        "id": "d4fa0aed603bd52e",
        "type": "subscribe-event",
        "z": "974c367b8d71d880",
        "name": "Event: lamp change state",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "event": "changeState",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "630e243ce794f2c5"
            ]
        ]
    },
    {
        "id": "630e243ce794f2c5",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "set lamp state",
        "func": "\nglobal.set(\"lampOn\", msg.payload == \"on\" ? true : false);\nmsg.payload = `New state of the light: ${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "975736728441d4af",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "non override user",
        "func": "if(global.get(\"userCommand\") == false || global.get(\"userCommand\") == undefined)\n    return msg;\nreturn ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "eb3863585669633a"
            ]
        ]
    },
    {
        "id": "d650c6a575b1760c",
        "type": "read-property",
        "z": "805f51cf036ad5bd",
        "name": "Property: light status",
        "topic": "lightState",
        "thing": "4538886161bf3ff1",
        "property": "status",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "bda9392848b964bc"
            ]
        ]
    },
    {
        "id": "a001cc79268359e2",
        "type": "read-property",
        "z": "805f51cf036ad5bd",
        "name": "",
        "topic": "presence",
        "thing": "e02cb0d4509c583a",
        "property": "presence",
        "uriVariables": "",
        "interval": "1",
        "observe": false,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "bda9392848b964bc"
            ]
        ]
    },
    {
        "id": "bda9392848b964bc",
        "type": "join",
        "z": "805f51cf036ad5bd",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "d3409a26de838f9c",
                "23829fc85cc7c8eb"
            ]
        ]
    },
    {
        "id": "9649d26fd8e2aef9",
        "type": "read-property",
        "z": "805f51cf036ad5bd",
        "name": "Property: light level in the room",
        "topic": "lightLevel",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "bda9392848b964bc"
            ]
        ]
    },
    {
        "id": "23829fc85cc7c8eb",
        "type": "function",
        "z": "805f51cf036ad5bd",
        "name": "",
        "func": "let currentLightLevel = msg.payload.lightLevel;\nlet presence = msg.payload.presence;\nlet lightIsOn = msg.payload.lightState.state == \"on\" ? true : false;\nlet lightIntensity = msg.payload.lightState.intensity;\nlet lightTarget = global.get(\"targetLight\");\n\nlet currentLightInRoom = currentLightLevel + (global.get(\"maxLumenLight\") * (lightIntensity / 100));\n\n\nif(lightIsOn && presence){\n    if(lightIntensity < 100 && (lightTarget - currentLightInRoom) > 100 ){\n        return msg;\n    }\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 40,
        "wires": [
            [
                "e3615adac088c8f1"
            ]
        ]
    },
    {
        "id": "f7e0b933cd744035",
        "type": "invoke-action",
        "z": "805f51cf036ad5bd",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "decrease",
        "uriVariables": "",
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d3409a26de838f9c",
        "type": "function",
        "z": "805f51cf036ad5bd",
        "name": "",
        "func": "let currentLightLevel = msg.payload.lightLevel;\nlet presence = msg.payload.presence;\nlet lightIsOn = msg.payload.lightState.state == \"on\" ? true : false;\nlet lightIntensity = msg.payload.lightState.intensity;\nlet lightTarget = global.get(\"targetLight\");\n\nlet currentLightInRoom = currentLightLevel + (global.get(\"maxLumenLight\") * (lightIntensity / 100));\n\nif(lightIsOn && presence){\n    if(lightIntensity > 0 && (currentLightInRoom - lightTarget) > 100){\n        return msg;\n    }\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "f7e0b933cd744035"
            ]
        ]
    },
    {
        "id": "e3615adac088c8f1",
        "type": "invoke-action",
        "z": "805f51cf036ad5bd",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "increase",
        "uriVariables": "",
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b4572588f1bf048b",
        "type": "subscribe-event",
        "z": "71513d26861b0ae7",
        "name": "Event: new user command",
        "topic": "",
        "thing": "031992dc8a25c061",
        "event": "newCommand",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "a13e0d64b6fc1d40",
                "a6ea1ad0380a1133",
                "c360f314a27699c5"
            ]
        ]
    },
    {
        "id": "a13e0d64b6fc1d40",
        "type": "function",
        "z": "71513d26861b0ae7",
        "name": "filter reset",
        "func": "if(msg.payload.command == \"reset\") \n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "d5658a623b39ff7c"
            ]
        ]
    },
    {
        "id": "a6ea1ad0380a1133",
        "type": "function",
        "z": "71513d26861b0ae7",
        "name": "filter switch on",
        "func": "if(msg.payload.command == \"light on\") \n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "d5658a623b39ff7c",
                "24b2d93fa52c04fa"
            ]
        ]
    },
    {
        "id": "c360f314a27699c5",
        "type": "function",
        "z": "71513d26861b0ae7",
        "name": "filter switch off",
        "func": "if(msg.payload.command == \"light off\") \n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "d5658a623b39ff7c",
                "a8a3fbf8000cd462"
            ]
        ]
    },
    {
        "id": "d5658a623b39ff7c",
        "type": "function",
        "z": "71513d26861b0ae7",
        "name": "override automation",
        "func": "if(msg.payload.command == \"reset\")\n    global.set(\"userCommand\", false)\nelse global.set(\"userCommand\", true)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "24b2d93fa52c04fa",
        "type": "invoke-action",
        "z": "71513d26861b0ae7",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOn",
        "uriVariables": "",
        "x": 610,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a8a3fbf8000cd462",
        "type": "invoke-action",
        "z": "71513d26861b0ae7",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOff",
        "uriVariables": "",
        "x": 610,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "55b0f5190947e0f0",
        "type": "subscribe-event",
        "z": "0a01ba463ee2878f",
        "name": "Event: presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "detectPresence",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "984f763f85c28181"
            ]
        ]
    },
    {
        "id": "2fa0488336441c4c",
        "type": "subscribe-event",
        "z": "0a01ba463ee2878f",
        "name": "Event: presence not detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "nonDetectPresence",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "984f763f85c28181"
            ]
        ]
    },
    {
        "id": "9f4c35118e325f69",
        "type": "subscribe-event",
        "z": "0a01ba463ee2878f",
        "name": "Event: lamp change state",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "event": "changeState",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "7035d449494bdd90"
            ]
        ]
    },
    {
        "id": "984f763f85c28181",
        "type": "debug",
        "z": "0a01ba463ee2878f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "7035d449494bdd90",
        "type": "function",
        "z": "0a01ba463ee2878f",
        "name": "",
        "func": "msg.payload = `New state of the light: ${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "984f763f85c28181"
            ]
        ]
    },
    {
        "id": "b7f9da573e5171c8",
        "type": "read-property",
        "z": "0a01ba463ee2878f",
        "name": "",
        "topic": "lightLevel",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "cb6c564d508eb863"
            ]
        ]
    },
    {
        "id": "07790df50d87510e",
        "type": "read-property",
        "z": "0a01ba463ee2878f",
        "name": "Property: Lamp status",
        "topic": "lampStatus",
        "thing": "4538886161bf3ff1",
        "property": "status",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 140,
        "y": 760,
        "wires": [
            [
                "cb6c564d508eb863"
            ]
        ]
    },
    {
        "id": "799e3dcf2f5024ed",
        "type": "read-property",
        "z": "0a01ba463ee2878f",
        "name": "Property: there's a presence",
        "topic": "presenceInRoom",
        "thing": "e02cb0d4509c583a",
        "property": "presence",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 120,
        "y": 840,
        "wires": [
            [
                "cb6c564d508eb863"
            ]
        ]
    },
    {
        "id": "cb6c564d508eb863",
        "type": "rbe",
        "z": "0a01ba463ee2878f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 330,
        "y": 760,
        "wires": [
            [
                "4e5d3a522f0a89ba"
            ]
        ]
    },
    {
        "id": "4e5d3a522f0a89ba",
        "type": "join",
        "z": "0a01ba463ee2878f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 450,
        "y": 760,
        "wires": [
            [
                "294106ab96e3b982"
            ]
        ]
    },
    {
        "id": "294106ab96e3b982",
        "type": "rbe",
        "z": "0a01ba463ee2878f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 570,
        "y": 760,
        "wires": [
            [
                "39c4f1fb3b9a084c"
            ]
        ]
    },
    {
        "id": "7f9818eac7b0ea18",
        "type": "subscribe-event",
        "z": "0a01ba463ee2878f",
        "name": "Event: lamp change intensity",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "event": "changeIntensity",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "bdba59843a612722"
            ]
        ]
    },
    {
        "id": "5209a76eef0d5ce9",
        "type": "write-property",
        "z": "0a01ba463ee2878f",
        "name": "",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "property": "presence",
        "uriVariables": "",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "7eca6564e0910b9a",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "5209a76eef0d5ce9"
            ]
        ]
    },
    {
        "id": "3731ab93937fb151",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "Low light level",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "lowLight",
        "payloadType": "global",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "a8223cc80b741e94"
            ]
        ]
    },
    {
        "id": "a8223cc80b741e94",
        "type": "write-property",
        "z": "0a01ba463ee2878f",
        "name": "",
        "topic": "",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "582312fedb3ef78e",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "High light level",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "highLight",
        "payloadType": "global",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "a8223cc80b741e94"
            ]
        ]
    },
    {
        "id": "af6fabf607ceae87",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "Set global data",
        "props": [
            {
                "p": "targetLight",
                "v": "2500",
                "vt": "num"
            },
            {
                "p": "lowLight",
                "v": "1500",
                "vt": "str"
            },
            {
                "p": "highLight",
                "v": "3200",
                "vt": "str"
            },
            {
                "p": "filterLowLight",
                "v": "2000",
                "vt": "str"
            },
            {
                "p": "filterHighLight",
                "v": "3000",
                "vt": "str"
            },
            {
                "p": "maxLumenLight",
                "v": "1000",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "def8ff55dd20a2a6"
            ]
        ]
    },
    {
        "id": "9d0c51462933ed10",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "Middle light",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2000",
        "payloadType": "num",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "a8223cc80b741e94"
            ]
        ]
    },
    {
        "id": "def8ff55dd20a2a6",
        "type": "function",
        "z": "0a01ba463ee2878f",
        "name": "",
        "func": "global.set(\"targetLight\", parseInt(msg.targetLight));\nglobal.set(\"lowLight\", parseInt(msg.lowLight));\nglobal.set(\"highLight\", parseInt(msg.highLight));\nglobal.set(\"filterLowLight\", parseInt(msg.filterLowLight));\nglobal.set(\"filterHighLight\", parseInt(msg.filterHighLight));\nglobal.set(\"maxLumenLight\", parseInt(msg.maxLumenLight));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bdba59843a612722",
        "type": "function",
        "z": "0a01ba463ee2878f",
        "name": "",
        "func": "msg.payload = `The lamp changes intensity`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 620,
        "wires": [
            [
                "984f763f85c28181"
            ]
        ]
    },
    {
        "id": "39c4f1fb3b9a084c",
        "type": "function",
        "z": "0a01ba463ee2878f",
        "name": "",
        "func": "let maxLumenLight = global.get(\"maxLumenLight\");\nmsg.payload.lightLevelWithLamp = msg.payload.lightLevel + (maxLumenLight * (msg.payload.lampStatus.intensity / 100));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 760,
        "wires": [
            [
                "984f763f85c28181"
            ]
        ]
    },
    {
        "id": "e44cb53e4f625f48",
        "type": "write-property",
        "z": "0a01ba463ee2878f",
        "name": "new vocal command",
        "topic": "",
        "thing": "031992dc8a25c061",
        "property": "command",
        "uriVariables": "",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "59af5e51b917b0bb",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "switch on the light",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "light on",
        "payloadType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "e44cb53e4f625f48"
            ]
        ]
    },
    {
        "id": "f64fca2ed94286ba",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "switch off the light",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "light off",
        "payloadType": "str",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e44cb53e4f625f48"
            ]
        ]
    },
    {
        "id": "bf5ccbdbb2ebcb5e",
        "type": "inject",
        "z": "0a01ba463ee2878f",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "e44cb53e4f625f48"
            ]
        ]
    },
    {
        "id": "df3683e6b60f5319",
        "type": "subscribe-event",
        "z": "0a01ba463ee2878f",
        "name": "",
        "topic": "",
        "thing": "031992dc8a25c061",
        "event": "newCommand",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "984f763f85c28181"
            ]
        ]
    }
]