things-mashup/flows.json
[
    {
        "id": "974c367b8d71d880",
        "type": "tab",
        "label": "DontWasteEnergy",
        "disabled": false,
        "info": " - When no one is in the room, the light should be off.\n - The light should be off even in the case that the current light level is above a threshold LT1 ",
        "env": []
    },
    {
        "id": "0ad542d8d4982248",
        "type": "subscribe-event",
        "z": "974c367b8d71d880",
        "name": "presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "detectPresence",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "1ed485c447d36717"
            ]
        ]
    },
    {
        "id": "253204eb8df6bdee",
        "type": "invoke-action",
        "z": "974c367b8d71d880",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOn",
        "uriVariables": "",
        "x": 770,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8416da021b03038d",
        "type": "subscribe-event",
        "z": "974c367b8d71d880",
        "name": "non presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "nonDetectPresence",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "eb3863585669633a"
            ]
        ]
    },
    {
        "id": "eb3863585669633a",
        "type": "invoke-action",
        "z": "974c367b8d71d880",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOff",
        "uriVariables": "",
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2aa70a54f0100db8",
        "type": "read-property",
        "z": "974c367b8d71d880",
        "name": "",
        "topic": "lightLevel",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "7d25c194a804c26a",
                "76fae17c1e9a66bf"
            ]
        ]
    },
    {
        "id": "7d25c194a804c26a",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "Set light level",
        "func": "global.set(\"currentLight\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1ed485c447d36717",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "only low light",
        "func": "light = global.get(\"currentLight\")\nif(light <= global.get(\"filterLowLight\"))\nreturn msg;\nelse return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "253204eb8df6bdee"
            ]
        ]
    },
    {
        "id": "76fae17c1e9a66bf",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "only high light",
        "func": "light = global.get(\"currentLight\")\nlampIsOn = global.get(\"lampOn\");\n\nif(light >= global.get(\"filterHighLight\") && lampIsOn)\nreturn msg;\nelse return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "975736728441d4af"
            ]
        ]
    },
    {
        "id": "d4fa0aed603bd52e",
        "type": "subscribe-event",
        "z": "974c367b8d71d880",
        "name": "Event: lamp change state",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "event": "changeState",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "630e243ce794f2c5"
            ]
        ]
    },
    {
        "id": "630e243ce794f2c5",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "set lamp state",
        "func": "\nglobal.set(\"lampOn\", msg.payload == \"on\" ? true : false);\nmsg.payload = `New state of the light: ${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "975736728441d4af",
        "type": "function",
        "z": "974c367b8d71d880",
        "name": "non override user",
        "func": "if(global.get(\"userCommand\") == false || global.get(\"userCommand\") == undefined)\n    return msg;\nreturn ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 360,
        "wires": [
            [
                "eb3863585669633a"
            ]
        ]
    },
    {
        "id": "e02cb0d4509c583a",
        "type": "consumed-thing",
        "tdLink": "http://172.20.10.4:8084/presence-detector-thing",
        "td": "{\"title\":\"presence-detector-thing\",\"description\":\"a smart presence detector thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"presence\":{\"type\":\"boolean\",\"description\":\"Return if someone is in the room\",\"observable\":true,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presence\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presence/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"presenceTimer\":{\"type\":\"integer\",\"description\":\"the seconds after which, if no presence is detected, it is assumed that there is no one in the room\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presenceTimer\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/properties/presenceTimer/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"actions\":{\"setPresenceTimer\":{\"description\":\"Set the presence timer seconds\",\"uriVariables\":{\"seconds\":{\"type\":\"integer\",\"minimum\":30,\"maximum\":3600}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/actions/setPresenceTimer{?seconds}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"detectPresence\":{\"description\":\"The sensor detect a presence inside the room\",\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/events/detectPresence\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"nonDetectPresence\":{\"description\":\"The sensor doesn't detect a presence inside the room\",\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/events/nonDetectPresence\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:c59e4cc5-7e68-4d83-9b73-81726741e04c\",\"forms\":[{\"href\":\"http://172.20.10.4:8084/presence-detector-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "4538886161bf3ff1",
        "type": "consumed-thing",
        "tdLink": "http://172.20.10.4:8084/light-thing/",
        "td": "{\"title\":\"light-thing\",\"description\":\"a smart light thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"isOn\":{\"type\":\"boolean\",\"description\":\"Return if the light is on\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOn\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOn/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"isOff\":{\"type\":\"boolean\",\"description\":\"Return if the light is off\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOff\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/isOff/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"intensity\":{\"type\":\"integer\",\"description\":\"Return the current intensity of the light\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/intensity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/intensity/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"status\":{\"type\":\"object\",\"description\":\"Return the complete status of the light\",\"observable\":true,\"readOnly\":true,\"properties\":{\"state\":{\"type\":\"string\",\"enum\":[\"on\",\"off\"],\"description\":\"The state of the lamp, if is on or off.\"},\"intensity\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100,\"description\":\"The current level (in percentage) of light intensity produced by the lamp.\"}},\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/properties/status\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://172.20.10.4:8084/light-thing/properties/status/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"actions\":{\"increase\":{\"description\":\"Increase light intensity\",\"uriVariables\":{\"step\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/increase{?step}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"decrease\":{\"description\":\"Decrease light intensity\",\"uriVariables\":{\"step\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/decrease{?step}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switchOn\":{\"description\":\"Switch on the light\",\"descriptions\":{\"it\":\"Accende la luce\"},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/switchOn\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switchOff\":{\"description\":\"Switch off the light\",\"descriptions\":{\"it\":\"Spegne la luce\"},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/switchOff\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switch\":{\"description\":\"Switch the light with the opposite status\",\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/actions/switch\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"changeState\":{\"description\":\"State on/off change\",\"data\":{\"type\":\"string\",\"enum\":[\"on\",\"off\"]},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/events/changeState\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"changeIntensity\":{\"description\":\"Intensity change\",\"data\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100},\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/events/changeIntensity\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:ed356130-d1e5-473e-ab8a-a1d1a761222b\",\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "c3cf010e000a53d8",
        "type": "consumed-thing",
        "tdLink": "http://172.20.10.4:8084/light-sensor-thing",
        "td": "{\"title\":\"light-sensor-thing\",\"description\":\"a smart light sensor thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"lightLevel\":{\"type\":\"integer\",\"description\":\"Return the current light level of the room\",\"observable\":true,\"minimum\":0,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-sensor-thing/properties/lightLevel\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://172.20.10.4:8084/light-sensor-thing/properties/lightLevel/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:cea85289-5481-4328-b0e4-7db4966d1782\",\"forms\":[{\"href\":\"http://172.20.10.4:8084/light-sensor-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    }
]