things-mashup/static-mashup/.flows.json.backup
[
    {
        "id": "c7b48d3cc7422b55",
        "type": "tab",
        "label": "DontWasteEnergy",
        "disabled": false,
        "info": " - When no one is in the room, the light should be off.\n - The light should be off even in the case that the current light level is above a threshold LT1 ",
        "env": []
    },
    {
        "id": "f091c5318a676334",
        "type": "tab",
        "label": "ProperLightLevel",
        "disabled": false,
        "info": "If there is someone in the room, then the light level should be kept not below  some level LT2, by properly controlling the light. \n",
        "env": []
    },
    {
        "id": "59a42a754873a12a",
        "type": "tab",
        "label": "ListenUser",
        "disabled": false,
        "info": " * A user can request to switch on or off the light by issuing a proper vocal command\n * User's requests override policies (1) and (2), that is:\n    -  if the user requested to switch off the light, the light should be kept off or on, the light should be kept off or on in spite of (1)(2).\n    - The user can request to reset overriding by issuing a \"reset\" vocal command.\n",
        "env": []
    },
    {
        "id": "e77e9223da831f35",
        "type": "tab",
        "label": "Debug",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e02cb0d4509c583a",
        "type": "consumed-thing",
        "tdLink": "http://localhost:8084/presence-detector-thing",
        "td": "{\"title\":\"presence-detector-thing\",\"description\":\"a smart presence detector thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"presence\":{\"type\":\"boolean\",\"description\":\"Return if someone is in the room\",\"observable\":true,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/properties/presence\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/properties/presence/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"presenceTimer\":{\"type\":\"integer\",\"description\":\"The seconds after which, if no presence is detected, it is assumed that there is no one in the room\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/properties/presenceTimer\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/properties/presenceTimer/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"actions\":{\"setPresenceTimer\":{\"description\":\"Set the presence timer seconds\",\"uriVariables\":{\"seconds\":{\"type\":\"integer\",\"minimum\":30,\"maximum\":3600}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/actions/setPresenceTimer{?seconds}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"detectPresence\":{\"description\":\"The sensor detect a presence inside the room\",\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/events/detectPresence\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"nonDetectPresence\":{\"description\":\"The presence timer arrive to zero after the last presence detected\",\"data\":{\"type\":\"string\"},\"forms\":[{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/events/nonDetectPresence\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:993eac7d-6e25-4ec4-b431-58776d36f1cb\",\"forms\":[{\"href\":\"http://192.168.1.7:8084/presence-detector-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\",\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "4538886161bf3ff1",
        "type": "consumed-thing",
        "tdLink": "http://localhost:8084/light-thing",
        "td": "{\"title\":\"light-thing\",\"description\":\"a smart light thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"isOn\":{\"type\":\"boolean\",\"description\":\"Return if the light is on\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/properties/isOn\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://192.168.1.7:8084/light-thing/properties/isOn/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"isOff\":{\"type\":\"boolean\",\"description\":\"Return if the light is off\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/properties/isOff\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://192.168.1.7:8084/light-thing/properties/isOff/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"intensity\":{\"type\":\"integer\",\"description\":\"Return the current intensity of the light\",\"observable\":true,\"readOnly\":true,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/properties/intensity\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://192.168.1.7:8084/light-thing/properties/intensity/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]},\"status\":{\"type\":\"object\",\"description\":\"Return the complete status of the light\",\"observable\":true,\"readOnly\":true,\"properties\":{\"state\":{\"type\":\"string\",\"enum\":[\"on\",\"off\"],\"description\":\"The state of the lamp, if is on or off.\"},\"intensity\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100,\"description\":\"The current level (in percentage) of light intensity produced by the lamp.\"}},\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/properties/status\",\"contentType\":\"application/json\",\"op\":[\"readproperty\"],\"htv:methodName\":\"GET\"},{\"href\":\"http://192.168.1.7:8084/light-thing/properties/status/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"actions\":{\"increase\":{\"description\":\"Increase light intensity\",\"uriVariables\":{\"step\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/actions/increase{?step}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"decrease\":{\"description\":\"Decrease light intensity\",\"uriVariables\":{\"step\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":100}},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/actions/decrease{?step}\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switchOn\":{\"description\":\"Switch on the light\",\"descriptions\":{\"it\":\"Accende la luce\"},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/actions/switchOn\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switchOff\":{\"description\":\"Switch off the light\",\"descriptions\":{\"it\":\"Spegne la luce\"},\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/actions/switchOff\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false},\"switch\":{\"description\":\"Switch the light with the opposite status\",\"output\":{\"type\":\"object\",\"description\":\"Returns true/false and a message when all invoked promises are resolved (asynchronous).\",\"properties\":{\"result\":{\"type\":\"boolean\"},\"message\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/actions/switch\",\"contentType\":\"application/json\",\"op\":[\"invokeaction\"],\"htv:methodName\":\"POST\"}],\"idempotent\":false,\"safe\":false}},\"events\":{\"changeState\":{\"description\":\"State on/off change\",\"data\":{\"type\":\"string\",\"enum\":[\"on\",\"off\"]},\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/events/changeState\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]},\"changeIntensity\":{\"description\":\"Intensity change\",\"data\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100},\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/events/changeIntensity\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:e4c35a82-fbba-497f-93dd-fb830b1663bb\",\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"readallproperties\",\"readmultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "c3cf010e000a53d8",
        "type": "consumed-thing",
        "tdLink": "http://localhost:8084/light-sensor-thing",
        "td": "{\"title\":\"light-sensor-thing\",\"description\":\"a smart light sensor thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"lightLevel\":{\"type\":\"integer\",\"description\":\"Return the current light level of the room\",\"observable\":true,\"minimum\":0,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-sensor-thing/properties/lightLevel\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://192.168.1.7:8084/light-sensor-thing/properties/lightLevel/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:26703df4-7c65-489a-bb10-8ce0c589e131\",\"forms\":[{\"href\":\"http://192.168.1.7:8084/light-sensor-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "af0c8bf4204c7ea8",
        "type": "consumed-thing",
        "tdLink": "http://localhost:8084/vocal-ui-thing",
        "td": "{\"title\":\"vocal-ui-thing\",\"description\":\"a smart presence detector thing\",\"support\":\"git://github.com/eclipse/thingweb.node-wot.git\",\"@context\":[\"https://www.w3.org/2019/wot/td/v1\",{\"@language\":\"en\"}],\"properties\":{\"command\":{\"type\":\"string\",\"description\":\"The last command triggered by the user\",\"observable\":true,\"readOnly\":false,\"writeOnly\":false,\"forms\":[{\"href\":\"http://192.168.1.7:8084/vocal-ui-thing/properties/command\",\"contentType\":\"application/json\",\"op\":[\"readproperty\",\"writeproperty\"]},{\"href\":\"http://192.168.1.7:8084/vocal-ui-thing/properties/command/observable\",\"contentType\":\"application/json\",\"op\":[\"observeproperty\",\"unobserveproperty\"],\"subprotocol\":\"longpoll\"}]}},\"events\":{\"newCommand\":{\"description\":\"The sensor detect a new command\",\"data\":{\"type\":\"object\",\"properties\":{\"message\":{\"type\":\"string\"},\"command\":{\"type\":\"string\"}}},\"forms\":[{\"href\":\"http://192.168.1.7:8084/vocal-ui-thing/events/newCommand\",\"contentType\":\"application/json\",\"subprotocol\":\"longpoll\",\"op\":[\"subscribeevent\",\"unsubscribeevent\"]}]}},\"@type\":\"Thing\",\"security\":[\"nosec_sc\"],\"id\":\"urn:uuid:8bc8e707-5c7e-4b11-a463-25dbfd6d8888\",\"forms\":[{\"href\":\"http://192.168.1.7:8084/vocal-ui-thing/all/properties\",\"contentType\":\"application/json\",\"op\":[\"writeallproperties\",\"writemultipleproperties\"]}],\"securityDefinitions\":{\"nosec_sc\":{\"scheme\":\"nosec\"}}}",
        "http": true,
        "ws": false,
        "coap": false,
        "mqtt": false,
        "opcua": false,
        "modbus": false,
        "basicAuth": false,
        "username": "",
        "password": ""
    },
    {
        "id": "b3feb41b0ce80d12",
        "type": "subscribe-event",
        "z": "c7b48d3cc7422b55",
        "name": "presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "detectPresence",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "ff1c2405a2e6dae0"
            ]
        ]
    },
    {
        "id": "364e3878fdc98c27",
        "type": "invoke-action",
        "z": "c7b48d3cc7422b55",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOn",
        "uriVariables": "",
        "x": 770,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e6ac9dbc2600a820",
        "type": "subscribe-event",
        "z": "c7b48d3cc7422b55",
        "name": "non presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "nonDetectPresence",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "0cd5bbaf711aeb02"
            ]
        ]
    },
    {
        "id": "0cd5bbaf711aeb02",
        "type": "invoke-action",
        "z": "c7b48d3cc7422b55",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOff",
        "uriVariables": "",
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c3b521bfd8645df6",
        "type": "read-property",
        "z": "c7b48d3cc7422b55",
        "name": "",
        "topic": "lightLevel",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "0a962882ea4b0054",
                "641f118ea15f0d30"
            ]
        ]
    },
    {
        "id": "0a962882ea4b0054",
        "type": "function",
        "z": "c7b48d3cc7422b55",
        "name": "Set light level",
        "func": "global.set(\"currentLight\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ff1c2405a2e6dae0",
        "type": "function",
        "z": "c7b48d3cc7422b55",
        "name": "only low light",
        "func": "light = global.get(\"currentLight\")\nif(light <= global.get(\"filterLowLight\"))\nreturn msg;\nelse return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "364e3878fdc98c27"
            ]
        ]
    },
    {
        "id": "641f118ea15f0d30",
        "type": "function",
        "z": "c7b48d3cc7422b55",
        "name": "only high light",
        "func": "light = global.get(\"currentLight\")\nlampIsOn = global.get(\"lampOn\");\n\nif(light >= global.get(\"filterHighLight\") && lampIsOn)\nreturn msg;\nelse return;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "fbf520088faabe6c"
            ]
        ]
    },
    {
        "id": "8ae7b99e75878571",
        "type": "subscribe-event",
        "z": "c7b48d3cc7422b55",
        "name": "Event: lamp change state",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "event": "changeState",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "92fb8fb181abb48b"
            ]
        ]
    },
    {
        "id": "92fb8fb181abb48b",
        "type": "function",
        "z": "c7b48d3cc7422b55",
        "name": "set lamp state",
        "func": "\nglobal.set(\"lampOn\", msg.payload == \"on\" ? true : false);\nmsg.payload = `New state of the light: ${msg.payload}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fbf520088faabe6c",
        "type": "function",
        "z": "c7b48d3cc7422b55",
        "name": "non override user",
        "func": "if(global.get(\"userCommand\") == false || global.get(\"userCommand\") == undefined)\n    return msg;\nreturn ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 360,
        "wires": [
            [
                "0cd5bbaf711aeb02"
            ]
        ]
    },
    {
        "id": "d22f7bc24731c071",
        "type": "read-property",
        "z": "f091c5318a676334",
        "name": "Property: light status",
        "topic": "lightState",
        "thing": "4538886161bf3ff1",
        "property": "status",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "120e673ed32f11f8"
            ]
        ]
    },
    {
        "id": "16d3f02ae5dcd9f7",
        "type": "read-property",
        "z": "f091c5318a676334",
        "name": "",
        "topic": "presence",
        "thing": "e02cb0d4509c583a",
        "property": "presence",
        "uriVariables": "",
        "interval": "1",
        "observe": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "120e673ed32f11f8"
            ]
        ]
    },
    {
        "id": "120e673ed32f11f8",
        "type": "join",
        "z": "f091c5318a676334",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "f38c8c7939648baa",
                "ca7c7d30828b525b"
            ]
        ]
    },
    {
        "id": "30dc46f15c15b415",
        "type": "read-property",
        "z": "f091c5318a676334",
        "name": "Property: light level in the room",
        "topic": "lightLevel",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "120e673ed32f11f8"
            ]
        ]
    },
    {
        "id": "ca7c7d30828b525b",
        "type": "function",
        "z": "f091c5318a676334",
        "name": "few light",
        "func": "let currentLightLevel = msg.payload.lightLevel;\nlet presence = msg.payload.presence;\nlet lightIsOn = msg.payload.lightState.state == \"on\" ? true : false;\nlet lightIntensity = msg.payload.lightState.intensity;\nlet lightTarget = global.get(\"targetLight\");\n\nlet currentLightInRoom = currentLightLevel + (global.get(\"maxLumenLight\") * (lightIntensity / 100));\n\n\nif(lightIsOn && presence){\n    if(lightIntensity < 100 && (lightTarget - currentLightInRoom) > 50 ){\n        return msg;\n    }\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "b71211218a4019a0"
            ]
        ]
    },
    {
        "id": "29daa2e93d9277fd",
        "type": "invoke-action",
        "z": "f091c5318a676334",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "decrease",
        "uriVariables": "",
        "x": 750,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f38c8c7939648baa",
        "type": "function",
        "z": "f091c5318a676334",
        "name": "too much light",
        "func": "let currentLightLevel = msg.payload.lightLevel;\nlet presence = msg.payload.presence;\nlet lightIsOn = msg.payload.lightState.state == \"on\" ? true : false;\nlet lightIntensity = msg.payload.lightState.intensity;\nlet lightTarget = global.get(\"targetLight\");\n\nlet currentLightInRoom = currentLightLevel + (global.get(\"maxLumenLight\") * (lightIntensity / 100));\n\nif(lightIsOn && presence){\n    if(lightIntensity > 0 && (currentLightInRoom - lightTarget) > 50){\n        return msg;\n    }\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "29daa2e93d9277fd"
            ]
        ]
    },
    {
        "id": "b71211218a4019a0",
        "type": "invoke-action",
        "z": "f091c5318a676334",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "increase",
        "uriVariables": "",
        "x": 740,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c583318fe1da5cbc",
        "type": "function",
        "z": "59a42a754873a12a",
        "name": "filter reset",
        "func": "if(msg.payload.command == \"reset\") \n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "86fe0d91addfd2e9"
            ]
        ]
    },
    {
        "id": "3c056aad328de148",
        "type": "function",
        "z": "59a42a754873a12a",
        "name": "filter switch on",
        "func": "if(msg.payload.command == \"light on\") \n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 60,
        "wires": [
            [
                "86fe0d91addfd2e9",
                "b52de2469904e5da"
            ]
        ]
    },
    {
        "id": "250cdeab31e29c78",
        "type": "function",
        "z": "59a42a754873a12a",
        "name": "filter switch off",
        "func": "if(msg.payload.command == \"light off\") \n    return msg;\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "86fe0d91addfd2e9",
                "a5cbb995329acc37"
            ]
        ]
    },
    {
        "id": "86fe0d91addfd2e9",
        "type": "function",
        "z": "59a42a754873a12a",
        "name": "override automation",
        "func": "if(msg.payload.command == \"reset\")\n    global.set(\"userCommand\", false)\nelse global.set(\"userCommand\", true)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b52de2469904e5da",
        "type": "invoke-action",
        "z": "59a42a754873a12a",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOn",
        "uriVariables": "",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "03420ff4abc9c5f1"
            ]
        ]
    },
    {
        "id": "a5cbb995329acc37",
        "type": "invoke-action",
        "z": "59a42a754873a12a",
        "name": "",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "action": "switchOff",
        "uriVariables": "",
        "x": 630,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "03420ff4abc9c5f1",
        "type": "debug",
        "z": "59a42a754873a12a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "14b72daacffa5771",
        "type": "subscribe-event",
        "z": "59a42a754873a12a",
        "name": "",
        "topic": "",
        "thing": "af0c8bf4204c7ea8",
        "event": "newCommand",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3c056aad328de148",
                "c583318fe1da5cbc",
                "250cdeab31e29c78"
            ]
        ]
    },
    {
        "id": "9b63682a118f0cd6",
        "type": "subscribe-event",
        "z": "e77e9223da831f35",
        "name": "Event: presence detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "detectPresence",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "3a02e76beae216fd"
            ]
        ]
    },
    {
        "id": "0c9044cb6fd70ba1",
        "type": "subscribe-event",
        "z": "e77e9223da831f35",
        "name": "Event: presence not detected",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "event": "nonDetectPresence",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "3a02e76beae216fd"
            ]
        ]
    },
    {
        "id": "21f8e35787daf887",
        "type": "subscribe-event",
        "z": "e77e9223da831f35",
        "name": "Event: lamp change state",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "event": "changeState",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "e7d2637d445b3245"
            ]
        ]
    },
    {
        "id": "3a02e76beae216fd",
        "type": "debug",
        "z": "e77e9223da831f35",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "e7d2637d445b3245",
        "type": "function",
        "z": "e77e9223da831f35",
        "name": "",
        "func": "msg.payload = `New state of the light: ${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 580,
        "wires": [
            [
                "3a02e76beae216fd"
            ]
        ]
    },
    {
        "id": "a0131f4c16c4f5c1",
        "type": "read-property",
        "z": "e77e9223da831f35",
        "name": "",
        "topic": "lightLevel",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "49e7709b072f39d0"
            ]
        ]
    },
    {
        "id": "a5cd2b8a4c9e5569",
        "type": "read-property",
        "z": "e77e9223da831f35",
        "name": "Property: Lamp status",
        "topic": "lampStatus",
        "thing": "4538886161bf3ff1",
        "property": "status",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "49e7709b072f39d0"
            ]
        ]
    },
    {
        "id": "1681cbbdf77f5b68",
        "type": "read-property",
        "z": "e77e9223da831f35",
        "name": "Property: there's a presence",
        "topic": "presenceInRoom",
        "thing": "e02cb0d4509c583a",
        "property": "presence",
        "uriVariables": "",
        "interval": "1",
        "observe": true,
        "x": 160,
        "y": 800,
        "wires": [
            [
                "49e7709b072f39d0"
            ]
        ]
    },
    {
        "id": "49e7709b072f39d0",
        "type": "rbe",
        "z": "e77e9223da831f35",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "28edb7b3437712af"
            ]
        ]
    },
    {
        "id": "28edb7b3437712af",
        "type": "join",
        "z": "e77e9223da831f35",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "a616d2e106a96f5a"
            ]
        ]
    },
    {
        "id": "a616d2e106a96f5a",
        "type": "rbe",
        "z": "e77e9223da831f35",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 510,
        "y": 760,
        "wires": [
            [
                "059e08ec28066c79"
            ]
        ]
    },
    {
        "id": "103b4891f3d8bfb6",
        "type": "subscribe-event",
        "z": "e77e9223da831f35",
        "name": "Event: lamp change intensity",
        "topic": "",
        "thing": "4538886161bf3ff1",
        "event": "changeIntensity",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "66442ab3dd8a649b"
            ]
        ]
    },
    {
        "id": "f72f5c8485aac607",
        "type": "write-property",
        "z": "e77e9223da831f35",
        "name": "",
        "topic": "",
        "thing": "e02cb0d4509c583a",
        "property": "presence",
        "uriVariables": "",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "fbc7c026eff5eed6",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "f72f5c8485aac607"
            ]
        ]
    },
    {
        "id": "e86771e821578b6a",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "Low light level",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "lowLight",
        "payloadType": "global",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "82b048f584789fdc"
            ]
        ]
    },
    {
        "id": "82b048f584789fdc",
        "type": "write-property",
        "z": "e77e9223da831f35",
        "name": "",
        "topic": "",
        "thing": "c3cf010e000a53d8",
        "property": "lightLevel",
        "uriVariables": "",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "c7b4c597c20e0ddc",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "High light level",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "highLight",
        "payloadType": "global",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "82b048f584789fdc"
            ]
        ]
    },
    {
        "id": "28c31bf62c0c3417",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "Set global data",
        "props": [
            {
                "p": "targetLight",
                "v": "2500",
                "vt": "num"
            },
            {
                "p": "lowLight",
                "v": "1500",
                "vt": "str"
            },
            {
                "p": "highLight",
                "v": "3200",
                "vt": "str"
            },
            {
                "p": "filterLowLight",
                "v": "2000",
                "vt": "str"
            },
            {
                "p": "filterHighLight",
                "v": "3000",
                "vt": "str"
            },
            {
                "p": "maxLumenLight",
                "v": "1000",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "ea7b6548e055bd62"
            ]
        ]
    },
    {
        "id": "b9bf93c4024c189e",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "Middle light",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2000",
        "payloadType": "num",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "82b048f584789fdc"
            ]
        ]
    },
    {
        "id": "ea7b6548e055bd62",
        "type": "function",
        "z": "e77e9223da831f35",
        "name": "",
        "func": "global.set(\"targetLight\", parseInt(msg.targetLight));\nglobal.set(\"lowLight\", parseInt(msg.lowLight));\nglobal.set(\"highLight\", parseInt(msg.highLight));\nglobal.set(\"filterLowLight\", parseInt(msg.filterLowLight));\nglobal.set(\"filterHighLight\", parseInt(msg.filterHighLight));\nglobal.set(\"maxLumenLight\", parseInt(msg.maxLumenLight));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "66442ab3dd8a649b",
        "type": "function",
        "z": "e77e9223da831f35",
        "name": "",
        "func": "msg.payload = `The lamp changes intensity`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "3a02e76beae216fd"
            ]
        ]
    },
    {
        "id": "059e08ec28066c79",
        "type": "function",
        "z": "e77e9223da831f35",
        "name": "",
        "func": "let maxLumenLight = global.get(\"maxLumenLight\");\nmsg.payload.lightLevelWithLamp = msg.payload.lightLevel + (maxLumenLight * (msg.payload.lampStatus.intensity / 100));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "3a02e76beae216fd"
            ]
        ]
    },
    {
        "id": "03f537555122dd9c",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "switch on the light",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "light on",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "7aaaf4849e4cbcb4"
            ]
        ]
    },
    {
        "id": "20e5c970f9d3e727",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "switch off the light",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "light off",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "7aaaf4849e4cbcb4"
            ]
        ]
    },
    {
        "id": "432383d589cc052a",
        "type": "inject",
        "z": "e77e9223da831f35",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "7aaaf4849e4cbcb4"
            ]
        ]
    },
    {
        "id": "df85ae3dcbca1646",
        "type": "subscribe-event",
        "z": "e77e9223da831f35",
        "name": "",
        "topic": "",
        "thing": "af0c8bf4204c7ea8",
        "event": "newCommand",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "3a02e76beae216fd"
            ]
        ]
    },
    {
        "id": "7aaaf4849e4cbcb4",
        "type": "write-property",
        "z": "e77e9223da831f35",
        "name": "",
        "topic": "",
        "thing": "af0c8bf4204c7ea8",
        "property": "command",
        "uriVariables": "",
        "x": 430,
        "y": 280,
        "wires": []
    }
]